@import '../base/colors';

.error404 {
  @include layout(column, space-between, center);

  > * {
    margin: 50px;
  }

  p {
    text-align: center;
    color: $coral;
  }

  a {
    text-align: center;
    text-decoration: underline;
    color: $black;
  }
}

