.housing-details {
  @include layout (column , flex-start, space-between);
  margin: 20px;
  width: 100%;
}

.housing-header {
  @include layout(row, space-between, flex-start);

  h1 {
    margin-bottom: 10px;
  }

  .tags {
     display: flex;
     gap: 15px;
     margin: 20px 0;
   }

  .tag {
    @include layout(row, center, center);
    color: white;
    background-color: #ff6060;
    padding: 10px 40px;
    border-radius: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .housing-header {
    @include layout(column, flex-start, flex-start);
    gap: 0;
  }
}

/* Host and rating */

.housing-host-container {
  width: 100%;
}

.housing-host {
  @include layout(column, space-between, flex-end);
  margin-bottom: 20px;

}

@media screen and (max-width: 768px) {
  .housing-host {
    @include layout(row-reverse, space-between, center);
  }
}

.host-info {
  @include layout(row, flex-end, flex-start);
  gap: 10px;
  padding-left: 15px;
  width: 167px;
}

.host-name {
  color: $coral;
  white-space: normal;
  word-wrap: break-word;
  //text-align: end;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.rating {
  display: flex;
  gap: 5px;
}

.star {
  font-size: 24px;
  color: $light-grey;
  padding: 25px 5px;
}

.star.filled {
  color: $coral;
}


/* ============= Description and Equipments ============= */

.description-equipments {
  display: flex;
  justify-content: space-between;

  gap: 20px;
}

.equipments ul {
  list-style: none;
  padding: 0;
}

.equipments ul li {
  background: #f7f7f7;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .description-equipments {
    flex-direction: column;

    gap: 0;
  }
}
