.housing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.housing-details {
  width: 100%;
  margin-top: 20px;
}

.housing-header {
  @include layout(row, space-between, flex-start);

  h1 {
    @include font(36px, 500);
    margin-bottom: 10px;
  }

  p {
      @include font(18px, 500);
  }

  .tags {
     display: flex;
     gap: 15px;
     margin: 20px 0;
   }

  .tag {
    @include layout(row, center, center);
    @include font(14px, 500);
    color: white;
    background-color: #ff6060;

    padding: 10px 40px;
    border-radius: 25px;
  }
}

/* Host and rating */

.housing-host {
  @include layout(column, flex-start, flex-end);
  margin-bottom: 20px;
}

.host-info {
  @include layout(row, flex-end, flex-start);
  gap: 10px;
  padding-left: 15px;
}

.host-name {
  @include font(18px, 500);
  color: $coral;
  white-space: normal;
  word-wrap: break-word;
  text-align: end;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.rating {
  display: flex;
  gap: 5px;
}

.star {
  font-size: 24px;
  color: $light-grey;
  padding: 25px 5px;
}

.star.filled {
  color: $coral;
}


/* ============= Description and Equipments ============= */

.description-equipments {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.description, .equipments {
  flex: 1;
}

.description h2, .equipments h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.equipments ul {
  list-style: none;
  padding: 0;
}

.equipments ul li {
  background: #f7f7f7;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .description-equipments {
    flex-direction: column;
  }
}
