.app-container {
  @include layout(column, flex-start, stretch);
  max-width: 1440px;

  header, .main-container{
    margin: 0 45px;
  }
}

@media screen and (max-width: 1439px) {
  .app-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  header, .main-container{
    margin: 0 20px;
  }
}



