.app-container {
  @include layout(column, flex-start, stretch);
  max-width: 1440px;

  header, .main-container{
    margin: 0 45px;
  }
}

@media screen and (max-width: 1024px) {
  .app-container header, .app-container .main-container{
    margin: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .app-container header, .app-container .main-container{
    margin: 0 10px;
  }
}

@media screen and (max-width: 375px) {
  .app-container header, .app-container .main-container{
    margin: 0 5px;
  }
}



