@keyframes arrowRotateOpening {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes arrowRotateClosing {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes showDropdownContent {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes hideDropdownContent {
  from {
    opacity: 1;
    transform: translateY(0);
    padding: 20px;
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
    padding: 0 20px;
  }
}
/*
Colors Variables
*/
h1 {
  color: #FF6060;
}

/*
Typography
*/
/* ======================================= Header ============================== */
header ul {
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  header ul {
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }
}
/* ======================================= Banner ============================== */
.banner h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1024px) {
  .banner h1 {
    font-size: 36px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
}
@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 16px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
}
/* ======================================= Card ============================== */
.card {
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

/* ======================================= Housing ============================== */
.housing-header h1 {
  font-size: 36px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.housing-header p {
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.housing-header .tag {
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.housing-header .host-name {
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  .housing-header h1 {
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }
  .housing-header p {
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }
  .housing-header .tag {
    font-size: 10px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
  .housing-header .host-name {
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }
}
.description-equipments .dropdown-header h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.description-equipments .dropdown-content {
  font-size: 18px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  .description-equipments .dropdown-header h3 {
    font-size: 13px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
  .description-equipments .dropdown-content {
    font-size: 13px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }
}
/* ======================================= About ============================== */
.about-content .dropdown-header h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.about-content .dropdown-content {
  font-size: 24px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  .about-content .dropdown-header h3 {
    font-size: 13px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
  .about-content .dropdown-content {
    font-size: 13px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }
}
/* ======================================= Error 404 ============================== */
.error404 h1 {
  font-size: 288px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.error404 p {
  font-size: 36px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.error404 a {
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  .error404 h1 {
    font-size: 96px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
  .error404 p {
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }
  .error404 a {
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }
}
/* ======================================= Footer ============================== */
footer {
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  footer {
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }
}
/* reset global settings */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Montserrat, sans-serif;
}

h1, h2, h3, p {
  margin: 0;
}

/* reset bullets */
ul {
  list-style-type: none;
  margin: 0; /* remove default margin */
  padding-left: 0; /* remove 40px default padding that comes with ul bullets */
}

/* reset links */
a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  /* logo */
  /* navigation */
}
header .desktop-logo {
  display: block;
}
header .mobile-logo {
  display: none;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 50px;
}
header ul li:hover {
  text-decoration: underline;
}

/* media queries for mobile */
@media screen and (max-width: 768px) {
  /* logo */
  header .desktop-logo {
    display: none;
  }
  header .mobile-logo {
    display: block;
  }
  /* navigation */
  header ul {
    text-transform: uppercase;
    gap: 20px;
  }
}
@media screen and (max-width: 350px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header ul {
    gap: 10px;
    margin-left: 10px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
  /* dimensions */
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}
footer .footer-logo {
  margin: 20px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* dimensions */
  width: 100%;
  min-height: 223px;
  margin-bottom: 20px;
  /* background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 25px;
}

.banner::after {
  content: "";
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.home-banner::after {
  background-color: rgba(0, 0, 0, 0.6);
}

.about-banner::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.banner h1 {
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .banner {
    min-height: 150px;
  }
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  /* dimensions */
  gap: 20px;
  padding: 20px;
  background-color: #F6F6F6;
  border-radius: 25px;
}

@media screen and (max-width: 1024px) {
  .gallery {
    /* deux colonnes seulement */
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .gallery {
    /* une colonne seulement */
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
.card-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 300px;
  height: 300px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  /* dimensions */
  width: 100%;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    height: 300px;
  }
}
.dropdown {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  /* from chevron down to chevron up */
  /* from chevron up to chevron down */
}
.dropdown-header h3 {
  margin: 0;
}
.dropdown-header .dropdown-arrow:not(.open) {
  animation: arrowRotateClosing 0.3s forwards;
}
.dropdown-header .dropdown-arrow.open {
  animation: arrowRotateOpening 0.3s forwards;
}

.dropdown-content {
  background-color: #F6F6F6;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.dropdown-content.opening {
  animation: showDropdownContent 0.3s ease-in;
  max-height: 500px;
  padding: 20px;
}

.dropdown-content.closing {
  animation: hideDropdownContent 0.3s forwards;
  max-height: 0;
  padding: 0 20px;
}

/* ============= Carrousel ============= */
.carrousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.carrousel-image {
  width: 100%;
  height: 415px;
  border-radius: 10px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .carrousel-image {
    height: 255px;
  }
}

.prev-arrow, .next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  padding: 25px;
  cursor: pointer;
  font-size: 80px;
}
@media screen and (max-width: 768px) {
  .prev-arrow, .next-arrow {
    font-size: 30px;
  }
}

.prev-arrow {
  left: 10px;
}
@media screen and (max-width: 768px) {
  .prev-arrow {
    left: 5px;
  }
}

.next-arrow {
  right: 10px;
}
@media screen and (max-width: 768px) {
  .next-arrow {
    right: 5px;
  }
}

.image-number {
  position: absolute;
  bottom: 20px;
  left: 50%;
  background: transparent;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 1440px;
}
.app-container header, .app-container .main-container {
  margin: 0 45px;
}

@media screen and (max-width: 1024px) {
  .app-container header, .app-container .main-container {
    margin: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .app-container header, .app-container .main-container {
    margin: 0 10px;
  }
}
@media screen and (max-width: 375px) {
  .app-container header, .app-container .main-container {
    margin: 0 5px;
  }
}
/*
Colors Variables
*/
h1 {
  color: #FF6060;
}

.error404 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.error404 > * {
  margin: 50px;
}
.error404 p {
  text-align: center;
  color: #FF6060;
}
.error404 a {
  text-align: center;
  text-decoration: underline;
  color: #000000;
}

/*
Colors Variables
*/
h1 {
  color: #FF6060;
}

.housing-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 20px;
  width: 100%;
}

.housing-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.housing-header h1 {
  margin-bottom: 10px;
}
.housing-header .tags {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}
.housing-header .tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #ff6060;
  padding: 10px 40px;
  border-radius: 25px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .housing-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }
  .housing-header .tag {
    padding: 5px 20px;
  }
}
/* Host and rating */
.housing-host-container {
  width: 100%;
}

.housing-host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .housing-host {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.host-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  padding-left: 15px;
  width: 167px;
}
@media screen and (max-width: 768px) {
  .host-info {
    width: 100px;
    padding: 0;
  }
}

.host-name {
  color: #FF6060;
  white-space: normal;
  word-wrap: break-word;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .host-picture {
    width: 40px;
    height: 40px;
  }
}

.rating {
  display: flex;
  gap: 5px;
}

.star {
  font-size: 24px;
  color: #E3E3E3;
  padding: 25px 5px;
}
@media screen and (max-width: 768px) {
  .star {
    font-size: 13px;
    padding: 0;
  }
}

.star.filled {
  color: #FF6060;
}

/* ============= Description and Equipments ============= */
.description-equipments {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.equipments ul {
  list-style: none;
  padding: 0;
}

.equipments ul li {
  background: #f7f7f7;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .description-equipments {
    flex-direction: column;
    gap: 0;
  }
}
.about-content {
  padding: 0 50px;
}

@media screen and (max-width: 768px) {
  .about-content {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
