@keyframes arrowRotateOpening {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes arrowRotateClosing {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes showDropdownContent {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideDropdownContent {
  from {
    opacity: 1;
    transform: translateY(0);
    padding: 20px;
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
    padding: 0 20px;
  }
}