.card-link {
  @include layout(column, center, center);
  min-width: 200px;
  max-width: 300px;
  height: 300px;
}

.card {
  @include layout(column, flex-end, flex-start);
  color: white;

  /* dimensions */
  width: 100%;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;

  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    height: 300px;
  }
}
