/* ============= Carrousel ============= */

.carrousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.carrousel-image {
  width: 100%;
  height: 415px;
  border-radius: 10px;
  object-fit: cover;

    @media screen and (max-width: 768px) {
      height: 255px;
    }
}

.prev-arrow, .next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  padding: 25px;
  cursor: pointer;
  font-size: 80px;

  @media screen and (max-width: 768px) {
    font-size: 30px;
  }
}

.prev-arrow {
  left: 10px;
}

.next-arrow {
  right: 10px;
}

.image-number {
  position: absolute;
  bottom: 20px;
  left: 50%;
  background: transparent;
  color: white;
}


