.dropdown {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-header {
  @include layout(row, space-between, center);

  background-color: $coral;
  color: white;
  border-radius: 5px;

  padding: 10px 15px;

  position: relative;
  z-index: 2;
  cursor: pointer;

  h3 {
    margin: 0;
  }

  /* from chevron down to chevron up */
  .dropdown-arrow:not(.open) {
    animation: arrowRotateClosing 0.3s forwards;
  }

  /* from chevron up to chevron down */
  .dropdown-arrow.open {
    animation: arrowRotateOpening 0.3s forwards;
  }
}

.dropdown-content {
  background-color: $grey;
  height: 100%;

  overflow: hidden;
  position: relative;
  z-index: 1;
}

.dropdown-content.opening {
  animation: showDropdownContent 0.3s forwards;
  max-height: 500px;
  padding: 20px;
}

.dropdown-content.closing {
  animation: hideDropdownContent 0.3s forwards;
  max-height: 0;
  padding: 0 20px;
}



