footer {
  @include layout(column, space-between, center);
  @include font(24px, 500);
  background-color: $black;
  color: $white;

  /* dimensions */
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;

  .footer-logo {
    margin: 20px;
  }
}

/* media queries for mobile */
@media (max-width: 768px) {
  footer {
    @include font(18px, 500);
  }
}