footer {
  @include layout(column, space-between, center);
  background-color: $black;
  color: $white;

  /* dimensions */
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;

  .footer-logo {
    margin: 20px;
  }
}
