header {
  @include layout(row, space-between, center);
  padding: 20px 0;

  /* logo */
  .desktop-logo {
    display: block;
  }

  .mobile-logo {
    display: none;
  }

  /* navigation */
  ul {
    @include layout(row, space-between, flex-end);
  }

  ul li:nth-child(1) {
    margin-right: 50px;
  }

  ul li:hover {
    text-decoration: underline;
  }

  /* media queries for mobile */
  @media screen and (max-width: 768px) {
    /* logo */
    .desktop-logo {
      display: none;
    }
    .mobile-logo {
      display: block;
    }
    /* navigation */
    ul {
      text-transform: uppercase;
    }
    ul li:nth-child(1) {
      margin-right: 10px;
    }
  }
}