@import '../abstract/mixins';

header {
  @include layout(row, space-between, center);
  padding: 20px 0;

  /* logo */
  .desktop-logo {
    display: block;
  }

  .mobile-logo {
    display: none;
  }

  /* navigation */
  ul {
    @include layout(row, space-between, flex-end);
    gap: 50px;
  }

  ul li:hover {
    text-decoration: underline;
  }
}

/* media queries for mobile */
@media screen and (max-width: 768px) {
  /* logo */
  header .desktop-logo {
    display: none;
  }
  header .mobile-logo {
    display: block;
  }
  /* navigation */
  header ul {
    text-transform: uppercase;
    gap: 20px;
  }
}

@media screen and (max-width: 350px) {
  header {
    @include layout(column, center, center);

    ul {
      gap: 10px;
      margin-left: 10px;
    }
  }
}
