.dropdown {
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-header {
  @include layout(row, space-between, center);
  background-color: #ff6060;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-header h3 {
  @include font(24px, 700);
  margin: 0;
}

.dropdown-arrow {
  transition: transform 0.3s;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.dropdown-content {
  @include font(18px, 400);
  background-color: $grey;
  padding: 20px;
}
