footer {
  @include layout(column, space-between, center);
  @include font(24px, 500);
  //flex-shrink: 0;
  background-color: $black;
  color: $white;

  /* dimensions */
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;

  .footer-logo {
    margin: 20px;
  }

  /* media queries for mobile */
  @media (max-width: 768px) {
    @include font(12px, 500);
  }
}