.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;

  /* dimensions */
  gap: 20px;
  padding: 20px;

  background-color: $grey;
  border-radius: 25px;

}




@media screen and (max-width: 1024px) {
  .gallery {
    /* deux colonnes seulement */
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    //margin: 50px;
  }

}

@media screen and (max-width: 768px) {
  .gallery {
    /* une colonne seulement */
    grid-template-columns: 1fr;
    gap: 50px;
    //margin: 50px;
  }

}
