.gallery {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;

  border: 1px solid red;


  .card {
    @include layout(column, center, flex-end);
    @include font(18px, 700);
    width: 340px;
    height: 340px;
    padding: 10px;

    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 5px solid red;
    color: white;
  }
}
