header {
  @include layout(row, space-between, center);
  padding: 20px 20px;

  /* logo */
  .desktop-logo {
    display: block;
  }

  .mobile-logo {
      display: none;
  }

  /* navigation */
  ul {
    @include layout(row, space-between, flex-end);
    @include font(24px, 500);
  }


  ul li:nth-child(1) {
    margin-right: 50px;
  }

  ul li:hover {
    text-decoration: underline;
  }

  /* media queries for mobile */
  @media (max-width: 768px) {

    /* logo */
    .desktop-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }

    /* navigation */
    ul {
      @include font(12px, 500);
      text-transform: uppercase;
    }

    ul li:nth-child(1) {
      margin-right: 10px;
    }
  }
}