// Import abstract files
@import 'abstract/mixins';

// Import base files
@import 'base/colors';
@import 'base/typography';
@import 'base/reset';

// Import elements files
@import 'elements/header';
@import 'elements/footer';
@import 'elements/banner';
@import 'elements/gallery';
@import 'elements/card';
@import 'elements/dropdown';

// Import layout files
@import 'layout/app-container';
@import 'layout/main-container';


// Import pages files
@import 'pages/error404';
@import 'pages/housing';
@import 'pages/about_content';

// Import debug files
@import 'layout/debug';
