// Import abstract files
@import 'abstract/keyframes';
@import 'abstract/mixins';

// Import base files
@import 'base/colors';
@import 'base/typography';
@import 'base/reset';

// Import elements files
@import 'elements/header';
@import 'elements/footer';
@import 'elements/banner';
@import 'elements/gallery';
@import 'elements/card';
@import 'elements/dropdown';
@import 'elements/carrousel';

// Import layout files
@import 'layout/mainContainer';
@import 'layout/appContainer';


// Import pages files
@import 'pages/error404';
@import 'pages/housing';
@import 'pages/aboutContent';

// Import debug files
//@import 'layout/debug';
